<header>
  <div class="nav-container">
    <div class="nav-display">
      <a class="home-link" href="/">csvite</a>
      <nav>
        <ul class="nav-ul">
          <% links.forEach(link => { %>
          <li>
            <a
              class="nav-link <%= link.href === currentPath ? 'active' : '' %>"
              href="<%= link.href %>"
            >
              <%= link.text %>
            </a>
          </li>
          <% }) %>
        </ul>
      </nav>
    </div>
    <div>
      <% if(user){ %>
      <div class="nav-profile">
        <div class="add-money-header">
          <i class="fa-solid fa-wallet"></i>
          <p class="money-header">AR$ <%= user.money %></p>
          <a href="/profile" class="add-balance-header">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
        <a href="/profile">
          <div class="flex">
            <img
              class="avatar"
              src="<%= user.avatar %>"
              alt="<%= user.username %>"
            />
          </div>
        </a>
      </div>
      <% } else{ %>
      <a class="login" href="/auth/steam">
        <img class="steam-png" src="/img/steam.svg" alt="steam" />

        <p class="login-p">Ingresar a través de Steam</p>
      </a>
      <% } %>
    </div>
  </div>
</header>
