<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Profile | CSVITE</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <div class="container">
      <div class="wrapper">
        <section class="first">
          <div class="flex">
            <img class="profile-avatar" src="<%= user.avatar %>" />
            <div class="flex-col">
              <h2 class="profile-username"><%= user.username %></h2>
              <p class="user-id">ID: <%= user.steamId %></p>
            </div>
            <form action="/logout" method="post">
              <button>Cerrar sesion</button>
            </form>
          </div>
        </section>
        <section class="second">
          <div class="select-container">
            <button class="select-profile" id="buyed-skins">
              Skins Compradas
            </button>
            <span class="separetor">|</span>
            <button class="select-profile" id="selled-skins">
              Skins Vendidas
            </button>
            <span class="separetor">|</span>
            <button class="select-profile" id="steam-inventory">
              Inventario de Steam
            </button>
          </div>
          <div class="inventory-wrapper">
            <% if (inv) { %> <% inv.forEach(i => { %>
            <div class="skin-wrapper">
              <img
                class="skin-img"
                src="<%= i.icon_url %>"
                alt="<%= i.name %>"
              />
              <p class="skin-p"><%= i.state %></p>
            </div>
            <% }) %> <% } %>
          </div>

          <div id="pagination"></div>
        </section>
        <section class="third">
          <div class="profile-settings">
            <h5 class="profile-text mb-5">Perfil</h5>
            <form action="/profile/update-trade-url" method="post">
              <div class="mb-5">
                <label for="tradeurl">Trade URL</label>
                <a
                  class="find-trade-url"
                  href="https://steamcommunity.com/id/<%= user.findTradeUrl %>/tradeoffers/privacy#trade_offer_access_url"
                  target="_blank"
                >
                  <i class="fa-solid fa-up-right-from-square"></i>
                  Encontrar tu Trade URL
                </a>
              </div>
              <div>
                <input
                  type="text"
                  name="tradeurl"
                  id="tradeurl"
                  placeholder="Trade URL"
                  value="<%= user.tradeUrl || '' %>"
                />
                <button class="save">Guardar</button>
              </div>
            </form>

            <form action="/profile/update-email" method="post">
              <div class="mb-5">
                <label for="email">Añadir Email de contacto</label>
              </div>
              <div>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Email"
                  value="<%= user.email || '' %>"
                />
                <button class="save">Guardar</button>
              </div>
            </form>
            <% if (errorMsg) { %>
            <p class="error"><%= errorMsg %></p>
            <% } %> <% if (successMsg) { %>
            <p class="success"><%= successMsg %></p>
            <% } %>
            <a
              class="profile-steam flex"
              href="<%= user.profileUrl %>"
              target="_blank"
            >
              <img class="steam-png" src="/img/steam.svg" alt="Steam" />
              <p>Perfil de Steam</p>
            </a>
            <div>
              <h5 class="profile-text mb-5">Balance</h5>
              <h5 class="profile-money">AR$ <%= user.money %></h5>
              <div class="mt-5">
                <h5 class="profile-text mb-5">Añadir Balance</h5>
                <input
                  class="deposit-ipt"
                  type="number"
                  id="deposit-amount"
                  placeholder="mínimo 2.000 ARS, máximo 2.000.000 ARS"
                />
                <p id="error-message" class="error mb-5"></p>
                <button class="deposit-cash" id="deposit-button">
                  <img
                    class="mercadopago"
                    src="/img/mercadopago.webp"
                    alt="Mercado Pago"
                  />
                  <p>Ingresar dinero</p>
                </button>

                <div id="wallet_container"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script>
      const userId = "<%= user._id %>";
      document
        .getElementById("deposit-button")
        .addEventListener("click", async function () {
          const amount = parseFloat(
            document.getElementById("deposit-amount").value
          );
          const errorMessageElement = document.getElementById("error-message");

          errorMessageElement.textContent = "";

          if (!amount) {
            errorMessageElement.textContent =
              "Ingrese una cantidad de dinero para depositar.";
            return;
          }

          if (amount < 2000 || amount > 2000000) {
            errorMessageElement.textContent =
              "El monto debe estar entre 2.000,00 ARS y 2.000.000,00 ARS.";
            return;
          }

          try {
            const response = await fetch("/payments/create-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ amount: amount, userId: userId }),
            });

            const data = await response.json();

            if (data) {
              window.location.href = data;
            } else {
              errorMessageElement.textContent = "Error al generar la orden.";
            }
          } catch (error) {
            errorMessageElement.textContent =
              "Ocurrió un error al intentar procesar el pago.";
          }
        });
    </script>
  </body>
</html>
