<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Profile | CSVITE</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <div class="container">
      <div class="wrapper">
        <section class="first">
          <div class="flex">
            <img class="profile-avatar" src="<%= user.avatar %>" />
            <div class="flex-col">
              <h2 class="profile-username"><%= user.username %></h2>
              <h5 class="profile-money">AR$ <%= user.money %></h5>
            </div>
          </div>
        </section>
        <section class="second">
          <p>sec</p>
        </section>
        <section class="third">
          <div class="profile-settings">
            <form action="/profile/update-trade-url" method="post">
              <div class="mb-5">
                <label for="tradeurl">Trade URL</label>
                <a
                  class="find-trade-url"
                  href="https://steamcommunity.com/id/<%= user.findTradeUrl %>/tradeoffers/privacy#trade_offer_access_url"
                  target="_blank"
                >
                  <i class="fa-solid fa-up-right-from-square"></i>
                  Encontrar tu Trade URL
                </a>
              </div>
              <div>
                <input
                  type="text"
                  name="tradeurl"
                  id="tradeurl"
                  placeholder="Trade URL"
                  value="<%= user.tradeUrl || '' %>"
                />
                <button class="save">Guardar</button>
              </div>
            </form>

            <form action="/profile/update-email" method="post">
              <div class="mb-5">
                <label for="email">Añadir Email de contacto</label>
              </div>
              <div>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Email"
                  value="<%= user.email || '' %>"
                />
                <button class="save">Guardar</button>
              </div>
            </form>
            <% if (errorMsg) { %>
            <p class="error"><%= errorMsg %></p>
            <% } %> <% if (successMsg) { %>
            <p class="success"><%= successMsg %></p>
            <% } %>
            <a
              class="profile-steam flex"
              href="<%= user.profileUrl %>"
              target="_blank"
            >
              <img class="steam-png" src="/img/steam.png" alt="Steam" />
              <p>Perfil de Steam</p>
            </a>
            <div>
              <h5 class="profile-text">Balance</h5>
              <h5 class="profile-money">AR$ <%= user.money %></h5>
              <div class="mt-5">
                <input
                  class="deposit-ipt"
                  type="number"
                  id="deposit-amount"
                  placeholder="Ingrese monto (mínimo 2000 ARS, máximo 1000000 ARS)"
                />
                <button class="deposit-cash" id="deposit-button">
                  <i class="fa-solid fa-coins"></i>
                  <p>Ingresar dinero</p>
                </button>
                <a class="deposit-skins" href="#">
                  <i class="fa-solid fa-gun"></i>
                  <p>Ingresar skins</p>
                </a>
                <div id="wallet_container"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script>
      document
        .getElementById("deposit-button")
        .addEventListener("click", async function () {
          const amount = document.getElementById("deposit-amount").value;

          if (amount < 2000 || amount > 1000000) {
            alert("El monto debe estar entre 2000 ARS y 1000000 ARS.");
            return;
          }

          try {
            const response = await fetch("/payments/create-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ amount: parseFloat(amount) }),
            });

            const data = await response.json();

            if (data) {
              window.location.href = data;
            } else {
              console.error("Checkout URL not found");
            }
          } catch (error) {
            console.error("Error:", error);
          }
        });
    </script>
  </body>
</html>
